<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}FinSensitive | Your ultimate guide in finance{% endblock %}</title>
        {% block stylesheets %}
            <!-- Google Font -->
            <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <!-- Font Awesome -->
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
             <!-- Preloader -->
            <link href="{{ asset('css/preloader.css')}}" rel="stylesheet" media="screen, print">
            <!-- Icon Font-->
            <link href="{{ asset('css/style.css')}}" rel="stylesheet">
            <link href="{{ asset('css/owl.carousel.css')}}" rel="stylesheet">
            <link href="{{ asset('css/owl.theme.default.css')}}" rel="stylesheet">
            <!-- Animate CSS-->
            <link href="{{ asset('css/animate.css')}}" rel="stylesheet">
            <!-- Bootstrap -->
            <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
            <!-- Style -->
            <link href="{{ asset('css/style.css')}}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Preloader -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        
        	<header id="HOME" style="background-position: 100% 0px;">
	        <div class="section_overlay">
	            <nav class="navbar navbar-default navbar-fixed-top" id="sidebar-wrapper">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" id="menu-close"> <!--data-target="#bs-example-navbar-collapse-1"> -->
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('images/logo.png') }}" alt=""></a>
	                </div>

	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="navbar-collapse"> <!--id="bs-example-navbar-collapse-1">-->
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="{{ path('index') }}" onclick = $("#menu-close").click(); >Home</a></li>
                            <li><a href="{{ path('index') }}#ABOUT" onclick = $("#menu-close").click(); >About</a></li>
	                    <li><a href="{{ path('index') }}#SERVICE" onclick = $("#menu-close").click(); >Services</a></li>
	                    <li><a href="{{ path('index') }}#TESTIMONIAL" onclick = $("#menu-close").click(); >Testimonial</a></li>
                            <li><a href="{{ path('terms') }}" onclick = $("#menu-close").click(); >Terms &amp Conditions</a></li>
                            <li><a href="{{ path('privacy') }}" onclick = $("#menu-close").click(); >Privacy Policy</a></li>
                            <li><a href="{{ path('unsubscribe') }}" onclick = $("#menu-close").click(); >Unsubscribe</a></li>
	                    <li><a href="#CONTACT" onclick = $("#menu-close").click(); >Contact</a></li>
	                  </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav> 
				<!-- text container -->
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12 text-center">
	                        <div class="home_text wow fadeInUp animated">
	                            <h3 class="small-tx">Your ultimate guide to financial independence</h3>
	                            <img src="{{ asset('images/shape.png') }}" alt="">                        
	                        </div>
	                    </div>
	                </div>
	            </div>
                    {% block header %} {% endblock %}
		</div>         
	    </section>         
    </header>
        
        {% block body %}{% endblock %}
    
    <section class="contact" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1>Send us a message</h1>
                        <img src="{{ asset('images/shape.png') }}" alt="">
                        <p>You question but and not sure if you would like to join us. Feel free to send us an email and ask any question you would like to get the answer to. Just complete the form below and we'll get back to you as soon as possible</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  wow fadeInLeft animated">
                    <div class="single_contact_info">
                        <h2>Email Us</h2>
                        <p>support@finsensitive.com</p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Address</h2>
                        <p> 3rd Floor 207 Regent St. Mayfair,</p>
                        <p> London W1B 4ND, United Kingdom,</p>
                    </div>
                </div>
                <div class="col-md-9  wow fadeInRight animated">
                    <div class="contact-form" action="">
                        <div class="row">
                            {{ form_start(form2, {'attr': {'novalidate': 'novalidate'}}) }}
                            
                                <div class="col-md-6">
                                    {{ form_label(form2.name) }}
                                    {{ form_widget(form2.name) }}
                                    {{ form_label(form2.emailaddress) }}
                                    {{ form_widget(form2.emailaddress) }}
                                    {{ form_label(form2.subject) }}
                                    {{ form_widget(form2.subject) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form2.message) }}
                                    {{ form_widget(form2.message) }}
                                    {{ form_row(form2.submit, { 'label': 'SEND US A MESSAGE' }) }}                             
                                </div>
                                
                            {{ form_end(form2) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work-with   wow fadeInUp animated">
                        <h3>looking forward to hearing from you!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo   wow fadeInUp animated">
                        <img src="{{ asset('images/logo.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright_text   wow fadeInUp animated">
                        <p>&copy; Finsensitive.com.All Right Reserved</p>
                        <p>Made with love for creative people.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>
        
        {% block javascripts %}
        <script>
            // Closes the sidebar menu
            $("#menu-close").click(function(e) {
                e.preventDefault();
                $("#sidebar-wrapper").toggleClass("active");
            });

            // Opens the sidebar menu
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#sidebar-wrapper").toggleClass("active");
            });

            // Scrolls to the selected menu item on the page
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('js/jquery.nicescroll.js')}}"></script>
        <script src="{{ asset('js/owl.carousel.js')}}"></script>
        <script src="{{ asset('js/wow.js')}}"></script>
        <script src="{{ asset('js/script.js')}}"></script>

	<script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
	</script>
        {% endblock %}
    </body>
</html>
